body {
    background-color: #0a3da3;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: "Open Sans",sans-serif;
    color: white;
    text-align: center;
}